

<div class="content">
    <br />
    <br />
    <br />
    <br />
    <div class="project-detail">
        <div class="slider-prev fa fa-angle-left fa-5x hidden-xs"></div>
        <div class="slider-next fa fa-angle-right fa-5x hidden-xs"></div>

        <div class="rev_slider_wrapper">
            <div id="rev_slider2" class="rev_slider tp-overflow-hidden fullscreenbanner">
                <ul>

                    <!-- Slide 1 -->

                    <li data-transition="slideleft" data-masterspeed="1200" data-fsmasterspeed="1200">

                        <!-- Main image-->
                        <img src="~/img/projects/multi/Midtown360/Midtown 360 MR (113 of 116) edit.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />
                        <!-- Layer 1 -->

                        <div class="tp-caption tp-shape tp-shapewrapper "
                             data-x="['left']" data-hoffset="['0']"
                             data-y="['top']" data-voffset="['50','50','40','40']"
                             data-width="528"
                             data-minwidth="528"
                             data-whitespace="normal"
                             data-type="shape"
                             data-responsive_offset="on"
                             data-frames='[{"from":"opacity:0;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},{"delay":"wait","speed":400,"to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]">
                            <div class="project-detail-info">
                                <div class="project-detail-control"><span class="hide-info">hide information</span><span class="show-info">show information</span></div>
                                <div class="project-detail-content">
                                    <h3 class="project-detail-title">Midtown 360</h3>
                                    <p class="project-detail-text">
                                        Midtown 360 is a 9-story mixed-use development with 286 completed apartment units
                                        and over 60,000 SF of retail space. The project is centrally located on State Street in Orem
                                    </p>
                                    <ul class="project-detail-list text-dark">
                                        <li>
                                            <span class="left">Project Details:</span>
                                            <span class="right">Class A Multi-Family Apartments<br /></span>
                                            <span class="right">390 Units 60,000 SF Retail</span>
                                        </li>
                                        <li>
                                            <span class="left">Completion:</span>
                                            <span class="right">2019</span>
                                        </li>
                                        <li>
                                            <span class="left">Builder:</span>
                                            <span class="right">Big D Construction</span>
                                        </li>
                                        <li>
                                            <span class="left">Team:</span>
                                            <span class="right">Jayson Newitt, Paul Ritchie, Scott Laneri</span>
                                        </li>
                                    </ul>
                                    <div class="project-detail-meta">
                                        <span class="left text-dark hidden-xs pull-sm-left">Share:</span>
                                        <div class="social-list pull-sm-right">
                                            <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Slide 2 -->

                    <li data-transition="slideleft" data-masterspeed="1200" data-fsmasterspeed="1200">

                        <!-- Main image-->
                        <img src="~/img/projects/multi/Midtown360/Midtown 360 MR (14 of 116) edit.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />
                        
                    </li>

                    <!-- Slide 3 -->

                    <li data-transition="slideleft" data-masterspeed="1200" data-fsmasterspeed="1200">

                        <!-- Main image-->
                        <img src="~/img/projects/multi/Midtown360/16.07.18 Midtown 360 pool view.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
