<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TRG2</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="/css/css/style.css" rel="stylesheet" media="screen">
    <link href="~/css/css/custom.css" rel="stylesheet" />

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <!-- Content CLick Capture-->
    <div class="click-capture"></div>

    @*NavBar*@
    <header class="navbar boxed js-navbar">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="brand" asp-controller="Home" asp-action="Index">
            <img class="logo" src="~/img/TheRitchieGroup_logo (Edited) (1).png" />
        </a>

        <div class="social-list hidden-xs">
            <a href="https://www.linkedin.com/company/the-ritchie-group-llc/about/" class="fa fa-linkedin"></a>
            <a href="" class="fa fa-facebook"></a>
            <a href="" class="fa fa-instagram"></a>
        </div>

        <div class="navbar-spacer hidden-sm hidden-xs"></div>

        @*<address class="navbar-address hidden-sm hidden-xs">call us: <span class="text-dark">(+080) 9684 32 45 789</span></address>*@
    </header>
    @*Sidebar Menu*@
    <div class="menu">
        <span class="close-menu right-boxed"></span>
        <ul class="menu-list right-boxed">
            <li>
                <a asp-controller="Home" asp-action="AllProjects">Projects</a>
                <ul>
                    <li>
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="AllProjects">All</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="MultiFamilyProjects">Multi-Family</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="IndustrialProjects">Industrial</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="HospitalityProjects">Hospitality</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav-link text-dark" asp-controller="Home" asp-action="News">News</a>
            </li>
            <li>
                <a href="#">About Us</a>
                <ul>
                    <li><a class="nav-link text-dark" asp-controller="Home" asp-action="Team">Team</a></li>
                    <li><a class="nav-link text-dark" asp-controller="Home" asp-action="History">History</a></li>
                    <li><a class="nav-link text-dark" asp-controller="Home" asp-action="GiveBack">Giving Back</a></li>
                    @*<li><a class="nav-link text-dark" asp-controller="Home" asp-action="Sustainability">Sustainability</a></li>*@
                </ul>
            </li>
            <li>
                <a href="#">Investors</a>
                <ul>
                    <li><a href="about.html">Investor Portal</a></li>
                    <li><a class="nav-link text-dark" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </li>
        </ul>
        <div class="menu-footer right-boxed">
            <div class="social-list">
                <a href="https://www.linkedin.com/company/the-ritchie-group-llc/about/" class="fa fa-linkedin"></a>
                <a href="" class="fa fa-facebook"></a>
                <a href="" class="fa fa-instagram"></a>
            </div>
            <div class="copy">© The Ritchie Group 2021. All Rights Reseverd</div>
        </div>
    </div>

    @*Body*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->

    <footer id="footer" class="footer section boxed">
        <div class="footer-flex">
            <div class="flex-item">
                <a class="brand pull-left" asp-controller="Home" asp-action="Index">
                    <img src="~/img/TRG2.0.png" />
                    <div class="brand-info">
                        <div class="brand-name">The Ritchie Group</div>
                        <div class="brand-text">solutions</div>
                    </div>
                </a>
            </div>
            <div class="flex-item">
                <div class="inline-block">© The Ritchie Group 2021<br>All Rights Resevered</div>
            </div>
            <div class="flex-item">
                <ul>
                    <li><a href="">Site Map</a></li>
                    <li><a href="">Term & Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Affiliatep</a></li>
                </ul>
            </div>
            <div class="flex-item">
                <ul>
                    <li><a href="">Our Location</a></li>
                    <li><a href="">Career</a></li>
                    <li><a asp-controller="Home" asp-action="Team">About</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
            <div class="flex-item">
                <div class="social-list">
                    <a href="https://www.linkedin.com/company/the-ritchie-group-llc/about/" class="fa fa-linkedin"></a>
                    <a href="" class="fa fa-facebook"></a>
                    <a href="" class="fa fa-instagram"></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->

    <script src="~/js/js/jquery.min.js"></script>
    <script src="~/js/js/animsition.min.js"></script>
    <script src="~/js/js/bootstrap.min.js"></script>
    <script src="~/js/js/smoothscroll.js"></script>
    <script src="~/js/js/jquery.validate.min.js"></script>
    <script src="~/js/js/wow.min.js"></script>
    <script src="~/js/js/jquery.stellar.min.js"></script>
    <script src="~/js/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/js/owl.carousel.min.js"></script>
    <script src="~/js/js/isotope.pkgd.min.js"></script>
    <script src="~/js/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/js/plugins.js"></script>
    <script src="~/js/js/sly.min.js"></script>


    <!-- Slider revolution -->
    <script src="~/js/js/rev-slider/jquery.themepunch.tools.min.js"></script>
    <script src="~/js/js/rev-slider/jquery.themepunch.revolution.min.js"></script>

    <!-- Slider revolution 5x Extensions   -->
    <script src="~/js/js/rev-slider/revolution.extension.actions.min.js"></script>
    <script src="~/js/js/rev-slider/revolution.extension.carousel.min.js"></script>
    <script src="~/js/js/rev-slider/revolution.extension.kenburn.min.js"></script>
    <script src="~/js/js/rev-slider/revolution.extension.layeranimation.min.js"></script>
    <script src="~/js/js/rev-slider/revolution.extension.migration.min.js"></script>
    <script src="~/js/js/rev-slider/revolution.extension.navigation.min.js"></script>
    <script src="~/js/js/rev-slider/revolution.extension.parallax.min.js"></script>
    <script src="~/js/js/rev-slider/revolution.extension.slideanims.min.js"></script>
    <script src="~/js/js/rev-slider/revolution.extension.video.min.js"></script>


    <!-- Scripts -->
    <script src="~/js/js/scripts.js"></script>
    <script src="~/js/js/rev-slider-init.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
