html {
  overflow-x: hidden;
}

.project-title {
  color: #7ca43c;
  /*color: #aafa16;*/
}
#darken {
  filter: brightness(70%);
}
.darken {
  filter: brightness(70%);
}

/*Give back image grid*/
.image-container {
  width: 60%;
  margin: 2rem auto;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}
/*logo*/
.logo {
  height: 200px;
  width: 100px;
}

.container {
  padding: 0;
  width: 100%;
}

.content {
  max-width: 1050px;
  padding: 0 25px;
  margin: 0 auto;
}

.hero-graphic {
  padding: 10px;
  background: hsl(0, 5%, 10%);
  left: 315px;
  top: 115px;
  width: 265px;
  height: 495px;
  backdrop-filter: blur(5px);
  opacity: 0.95;
  z-index: 1;
  position: absolute;
}

.experience-box {
  margin-top: 5rem;
}

.section-about {
  padding-top: 80px;
}

.container > .second-row {
  margin-top: 142px;
}

/*grid attempt 2*/
/*.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}
.grid>div{
    background: black;
    padding: 1rem;
    display: grid;
    place-items: center;
    &::before

{
    // for apsect ratio content: "";
    display: block;
    padding-bottom: 100%;
    grid-area: 1 / 1 / 2 / 2;
}

img {
    width: 100%;
    // height: 100%;
    // object-fit: contain;
    grid-area: 1 / 1 / 2 / 2;
}*/


.logo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

    .logo-grid > div {
        background: black;
        padding: 1rem;
        display: grid;
    }

        .logo-grid > div::before {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        .lol-grid > div > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            grid-area: 1 / 1 / 2 / 2;
        }

