<div class="content">
    <br />
    <br />
    <br />
    <br />
    <div class="projects">
        <div class="grid-items js-isotope js-grid-items">
            @*Element 31 use this as an example to edit the others *@
            <div class="grid-item building js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken"class="img-responsive" src="~/img/projects/multi/Element31/Element 31 MR (40 of 76).jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 id="bootstrap-overrides" class="project-title">Element 31<br>Apartments</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="Element31" id="link-arrow-color" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*Koloa Landing*@
            <div class="grid-item villa js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/hospitality/KoloaLanding/Koloa.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Koloa<br>Landing</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="KoloaLanding" id="link-arrow-color" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*West Quarter*@
            <div class="grid-item interior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/hospitality/WestQuarter/C03 (1).jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">West Quarter</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="WestQuarter" id="link-arrow-color" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*XR1*@
            <div class="grid-item interior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/industrial/XR1/XRside-square.png" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">XR 1</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="XR1" id="link-arrow-color" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*Nantucket*@
            <div class="grid-item building js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/industrial/GetSpace/Nantucket/Nantucket4.1.png" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Nantucket<br>Go Store It</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="" id="link-arrow-color" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*Midtown360*@
            <div class="grid-item villa js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/multi/Midtown360/Midtown.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Midtown 360<br>Apartments</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="Element31" id="link-arrow-color" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*Rivulet*@
            <div class="grid-item interior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/multi/Rivulet/Rivulet.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Rivulet<br>Apartments</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="" id="link-arrow-color" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*Johnson Creek GetSpace*@
            <div class="grid-item exterior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/industrial/GetSpace/JohnsonCreek/johnson creek.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Johnson Creek<br>Get Space Storage</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="" id="link-arrow-color" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*Portland and Columbia GetSpace*@
            <div class="grid-item exterior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/industrial/GetSpace/PortlandColumbia/Portland and Columbia.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Portland and Columbia<br>Get Space Storage</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="" id="link-arrow-color" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*row 3*@
            @*Vancouver GetSpace*@
            <div class="grid-item exterior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/industrial/GetSpace/Vancouver/Vancouver.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Vancouver<br>Get Space Storage</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="" id="link-arrow-color" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*Witch Hazel GetSpace*@
            <div class="grid-item exterior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/industrial/GetSpace/WitchHazel/witch hazel.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Witch Hazel<br>Get Space Storage</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="" id="link-arrow-color" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>