<div class="image-container">
    <div class="gallery">
        <figure class="gallery__item gallery__item--1">
            <img src="~/img/GiveBackLogos/academyforCreatingEnterprise.jpg" class="gallery__img" />
        </figure>
        <figure class="gallery__item gallery__item--2">
            <img src="~/img/GiveBackLogos/Bunac.jpg" class="gallery__img" />
        </figure>
        <figure class="gallery__item gallery__item--3">
            <img src="~/img/GiveBackLogos/BYU.png" class="gallery__img" />
        </figure>
        <figure class="gallery__item gallery__item--4">
            <img src="~/img/GiveBackLogos/BYUHawaii.png" class="gallery__img" />
        </figure>
        <figure class="gallery__item gallery__item--5">
            <img src="~/img/GiveBackLogos/BYUIdaho.jpg" class="gallery__img" />
        </figure>
        <figure class="gallery__item gallery__item--6">
            <img src="~/img/GiveBackLogos/DSU.jpg" class="gallery__img" />
        </figure>
    </div>
</div>