<div class="content">
    <br />
    <br />
    <br />
    <br />
    <h1 class="project-title">Hospitality</h1>
    <div class="projects">
        <br />
        <div class="grid-items js-isotope js-grid-items">
            @*Koloa Landing*@
            <div class="grid-item villa js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/hospitality/KoloaLanding/Koloa.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Koloa<br>Landing</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="KoloaLanding" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*West Quarter*@
            <div class="grid-item interior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/hospitality/WestQuarter/C03 (1).jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">West Quarter</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="WestQuarter" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
