@{
    ViewData["Title"] = "Home Page";
}
<!-- Jumbotron -->

<main class="jumbotron">
    <!-- Start revolution slider -->

    <div class="rev_slider_wrapper">
        <div id="rev_slider" class="rev_slider tp-overflow-hidden fullscreenbanner">
            <ul>

                <!-- Slide 1 -->

                <li data-transition='slideleft' data-slotamount='default' data-masterspeed="1000" data-fsmasterspeed="1000">

                    <!-- Main image-->
                    <img src="~/img/projects/industrial/XR1/XR-front.png" data-bgparallax="5" alt="" data-bgposition="center 0" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />

                    <!-- Layer 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         data-x="['left']" data-hoffset="['100']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-250']"
                         data-width="270"
                         data-height="5"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="background-color:#cee002;"> </div>

                    <!-- Layer 2 -->

                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         data-x="['left']" data-hoffset="['370']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['19']"
                         data-width="5"
                         data-height="544"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":600,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="background-color:#cee002;"> </div>


                    <!-- Layer 3 -->

                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         data-x="['left']" data-hoffset="['100']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['289']"
                         data-width="270"
                         data-height="5"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":1200,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="background-color:#cee002;"> </div>


                    <!-- Layer 4 -->

                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         data-x="['left']" data-hoffset="['100']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['19']"
                         data-width="5"
                         data-height="544"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":1800,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="background-color:#cee002;"> </div>

                    <!-- Layer 5 -->

                    <div class="slider-title tp-caption tp-resizeme"
                         data-x="['left']" data-hoffset="['156']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-30']"
                         data-textAlign="['left']"
                         data-fontsize="['72', '63','57','50']"
                         data-lineheight="['72','68', '62','54']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[-155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="500"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05" style="font-weight:600; letter-spacing:-0.05em;">
                        ADD<br> MANTRA<br> HERE
                    </div>


                    <!-- Layer 6 -->

                    <div class="slider-title tp-caption"
                         data-x="['left']" data-hoffset="['156']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-170']"
                         data-textAlign="['left']"
                         data-fontsize="['18']"
                         data-lineheight="['20']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05" style="font-weight:600; letter-spacing:0.1em; text-transform:uppercase;">
                        Industrial
                    </div>

                    <!-- Layer 7 -->

                    <div class="slider-title tp-caption"
                         data-x="['left']" data-hoffset="['156']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['230']"
                         data-textAlign="['left']"
                         data-fontsize="['18']"
                         data-lineheight="['20']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[-105%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05" style="font-weight:600;">
                        <a asp-controller="ProjectPages" asp-action="XR1" class="link-arrow">
                            See project <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>

                <!-- Slide 2 -->

                <li data-transition='slideleft' data-slotamount='default' data-masterspeed="1000" data-fsmasterspeed="1000">

                    <!-- Main image-->
                    <img src="~/img/projects/multi/Element31/Element.jpg" data-bgparallax="5" alt="" data-bgposition="center 0" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />

                    <!-- Layer 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         data-x="['left']" data-hoffset="['100']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-250']"
                         data-width="270"
                         data-height="5"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="background-color:#cee002;"> </div>

                    <!-- Layer 2 -->

                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         data-x="['left']" data-hoffset="['370']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['19']"
                         data-width="5"
                         data-height="544"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":600,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="background-color:#cee002;"> </div>


                    <!-- Layer 3 -->

                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         data-x="['left']" data-hoffset="['100']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['289']"
                         data-width="270"
                         data-height="5"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":1200,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="background-color:#cee002;"> </div>


                    <!-- Layer 4 -->

                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         data-x="['left']" data-hoffset="['100']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['19']"
                         data-width="5"
                         data-height="544"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":1800,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="background-color:#cee002;"> </div>

                    <!-- Layer 5 -->

                    <div class="slider-title tp-caption tp-resizeme"
                         data-x="['left']" data-hoffset="['156']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-30']"
                         data-textAlign="['left']"
                         data-fontsize="['72', '63','57','50']"
                         data-lineheight="['72','68', '62','54']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[-155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="500"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05" style="font-weight:600; letter-spacing:-0.05em;">
                        ANOTHER<br> MANTRA<br> HERE
                    </div>


                    <!-- Layer 6 -->

                    <div class="slider-title tp-caption"
                         data-x="['left']" data-hoffset="['156']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-170']"
                         data-textAlign="['left']"
                         data-fontsize="['18']"
                         data-lineheight="['20']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05" style="font-weight:600; letter-spacing:0.1em; text-transform:uppercase;">
                        Residential
                    </div>

                    <!-- Layer 7 -->

                    <div class="slider-title tp-caption"
                         data-x="['left']" data-hoffset="['156']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['230']"
                         data-textAlign="['left']"
                         data-fontsize="['18']"
                         data-lineheight="['20']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[-105%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05" style="font-weight:600; ">
                        <a asp-controller="ProjectPages" asp-action="Element31" class="link-arrow">
                            See project <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>

                <!-- Slide 3 -->

                <li data-transition='slideleft' data-slotamount='default' data-masterspeed="1000" data-fsmasterspeed="1000">

                    <!-- Main image-->
                    @*<img src="~/img/projects/hospitality/WestQuarter/C03 (1).jpg" data-bgparallax="5" alt="" data-bgposition="center 0" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />*@
                    <img src="~/img/projects/hospitality/WestQuarter/C01.jpg" data-bgparallax="5" alt="" data-bgposition="center 0" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />
                    <!-- Layer 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         data-x="['left']" data-hoffset="['100']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-250']"
                         data-width="270"
                         data-height="5"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="background-color:#cee002;"> </div>

                    <!-- Layer 2 -->

                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         data-x="['left']" data-hoffset="['370']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['19']"
                         data-width="5"
                         data-height="544"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":600,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="background-color:#cee002;"> </div>


                    <!-- Layer 3 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         data-x="['left']" data-hoffset="['100']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['289']"
                         data-width="270"
                         data-height="5"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":1200,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="background-color:#cee002;"> </div>


                    <!-- Layer 4 -->

                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         data-x="['left']" data-hoffset="['100']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['19']"
                         data-width="5"
                         data-height="544"
                         data-whitespace="nowrap"
                         data-type="shape"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":1800,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="background-color:#cee002;"> </div>

                    <!-- Layer 5 -->

                    <div class="slider-title tp-caption tp-resizeme"
                         data-x="['left']" data-hoffset="['156']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-30']"
                         data-textAlign="['left']"
                         data-fontsize="['72', '63','57','50']"
                         data-lineheight="['72','68', '62','54']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[-155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="500"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05" style="font-weight:600; letter-spacing:-0.05em;">
                        ADD<br> MANTRA<br> HERE
                    </div>


                    <!-- Layer 6 -->

                    <div class="slider-title tp-caption"
                         data-x="['left']" data-hoffset="['156']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-170']"
                         data-textAlign="['left']"
                         data-fontsize="['18']"
                         data-lineheight="['20']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05" style="font-weight:600; letter-spacing:0.1em; text-transform:uppercase;">
                        Hospitality
                    </div>

                    <!-- Layer 7 -->

                    <div class="slider-title tp-caption"
                         data-x="['left']" data-hoffset="['156']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['230']"
                         data-textAlign="['left']"
                         data-fontsize="['18']"
                         data-lineheight="['20']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[-105%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05" style="font-weight:600; ">
                        <a asp-controller="ProjectPages" asp-action="WestQuarterET" class="link-arrow">
                            See project <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

<div class="content">
    <!-- Infographic -->

    <section class="section-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="experience-box">
                        <div class="experience-border"></div>
                        <div class="experience-content">
                            <div style="width: 190px;" id="apartments-number" class="experience-number">300</div>
                            <div class="experience-info wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Number<br>Of<br>Apartments</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="dots-image">
                        <img id="element" alt="element" class="about-img img-responsive" src="~/img/projects/multi/Element31/Element 31 Clubhouse HR (20 of 31).jpg" />
                        <div id="midtown-dots" class="dots"></div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 6rem">
                <div class="col-md-6">
                    <div class="dots-image">
                        <img id="hawaii" alt="hawaii" class="about-img img-responsive" src="~/img/projects/hospitality/KoloaLanding/lihak-villa-0059-hor-wide.jpg" />
                        <div id="hawaii-dots" class="dots"></div>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-3">
                    <div class="experience-box ">
                        <div class="experience-border"></div>
                        <div class="experience-content">
                            <div style="width: 94px;" id="projects-number" class="experience-number">21</div>
                            <div class="experience-info wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Projects<br>In<br>Progress</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section Projects -->

    <section class="section-projects section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h2 class="section-title">Latest Projects</h2>
                </div>
                <div class="col-lg-7">
                    <div class="filter-content">
                        <ul class="filter-carousel filter pull-lg-right js-filter-carousel">
                            <li class="active"><a href="#" class="all" data-filter="*">All</a></li>
                            <li><a href="#" data-filter=".multi">Multi-Family </a></li>
                            <li><a href="#" data-filter=".industrial">Industrial </a></li>
                            <li><a href="#" data-filter=".hospitality">Hospitality </a></li>
                        </ul>
                        <a asp-controller="Home" asp-action="Projects" class="view-projects">View All Projects</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Projects with Multi-Family filter-->
        <div class="project-carousel owl-carousel">
            @*Midtown360*@
            <div class="project-item item-shadow multi">
                <img id="darken" alt="" class="img-responsive" src="~/img/projects/multi/Midtown360/Midtown2.0.jpg" />
                <div class="project-hover">
                    <div class="project-hover-content">
                        <h3 class="project-title">Midtown<br>360</h3>
                        <p class="project-description">Add short description here...</p>
                    </div>
                </div>
                <a asp-controller="ProjectPages" asp-action="Midtown360" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
            </div>
            @*West Quarter Apartments*@
            <div class="project-item item-shadow multi">
                <img id="darken" alt="" class="img-responsive" src="~/img/projects/multi/WQA2.0.jpg" />
                <div class="project-hover">
                    <div class="project-hover-content">
                        <h3 class="project-title">West<br>Quarter<br>Apartments</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                    </div>
                </div>
                <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
            </div>
            @*Element31*@
            <div class="project-item item-shadow multi">
                <img id="darken" alt="" class="img-responsive" src="~/img/projects/multi/Element31/Element2.0.jpg" />
                <div class="project-hover">
                    <div class="project-hover-content">
                        <h3 class="project-title">Element<br>31<br>Apartments</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                    </div>
                </div>
                <a asp-controller="ProjectPages" asp-action="Element31" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
            </div>
            @*Rivulet*@
            <div class="project-item item-shadow multi">
                <img id="darken" alt="" class="img-responsive" src="~/img/projects/multi/Rivulet2.0.jpg" />
                <div class="project-hover">
                    <div class="project-hover-content">
                        <h3 class="project-title">Rivulet<br>Apartments</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                    </div>
                </div>
                <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
            </div>
            <!--industrial filter-->
            @*XR1*@
            <div class="project-item item-shadow industrial">
                <img id="darken" alt="" class="img-responsive" src="~/img/projects/industrial/XR1/XR2.0.png" />
                <div class="project-hover">
                    <div class="project-hover-content">
                        <h3 class="project-title">XR<br>International</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                    </div>
                </div>
                <a asp-controller="ProjectPages" asp-action="XR1" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
            </div>
            @*GetSpace-witch hazel*@
            <div class="project-item item-shadow industrial">
                <img id="darken" alt="" class="img-responsive" src="~/img/projects/industrial/GetSpace/WitchHazel/witch hazel2.0.jpg" />
                <div class="project-hover">
                    <div class="project-hover-content">
                        <h3 class="project-title">Hillsboro<br>& Witch Hazel<br>Extra Space Storage</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                    </div>
                </div>
                <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
            </div>
            @*GetSpace-Vancouver*@
            <div class="project-item item-shadow industrial">
                <img id="darken" alt="" class="img-responsive" src="~/img/projects/industrial/GetSpace/Vancouver/Vancouver2.0.jpg" />
                <div class="project-hover">
                    <div class="project-hover-content">
                        <h3 class="project-title">Portland<br>& Vancouver<br>Extra Space Storage</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                    </div>
                </div>
                <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
            </div>
            @*GetSpace-Johnson Creek*@
            <div class="project-item item-shadow industrial">
                <img id="darken" alt="" class="img-responsive" src="~/img/projects/industrial/GetSpace/JohnsonCreek/johnson creek2.0.jpg" />
                <div class="project-hover">
                    <div class="project-hover-content">
                        <h3 class="project-title">Portland<br>& Johnson Creek<br>Extra Space Storage</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                    </div>
                </div>
                <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
            </div>
            @*GetSpace-Nantucket*@
            <div class="project-item item-shadow industrial">
                <img id="darken" class="img-responsive" src="~/img/projects/industrial/GetSpace/Nantucket/Screen Shot 2019-12-31 at 7.52.17 AM.png" />
                <div class="project-hover">
                    <div class="project-hover-content">
                        <h3 class="project-title">Nantucket<br>Extra Space Storage</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                    </div>
                </div>
                <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
            </div>
            <!--Hospitality filter-->
            @*Koloa Landing*@
            <div class="project-item item-shadow hospitality">
                <img id="darken" alt="" class="img-responsive" src="~/img/projects/hospitality/KoloaLanding/Koloa2.0.jpg" />
                <div class="project-hover">
                    <div class="project-hover-content">
                        <h3 class="project-title">Koloa<br>Landing<br>Resort at Poipu</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                    </div>
                </div>
                <a asp-controller="ProjectPages" asp-action="KoloaLanding" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
            </div>
            @*West Quarter Element/Tribute Hotel*@
            <div class="project-item item-shadow hospitality">
                <img id="darken" alt="" class="img-responsive" src="~/img/projects/hospitality/WestQuarter/West quarter2.0.jpg" />
                <div class="project-hover">
                    <div class="project-hover-content">
                        <h3 class="project-title">West<br>Quarter<br>Element/Tribute</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                    </div>
                </div>
                <a asp-controller="ProjectPages" asp-action="WestQuarterET" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </section>


    <!-- Section Clients -->

    <section class="section-clients section bg-dots" id="client-dots">
        <div class="container">
            <h2 class="section-title">Comments From Our Clients</h2>
            <div class="client-carousel owl-carousel">
                <div class="client-carousel-item" id="client1">
                    <img alt="" class="client-img" src="~/img/GuyHeadshot.jpg" height="92" width="92" />
                    <div class="client-box">
                        <img alt="" class="image-quote" src="img/image-icons/icon-quote.png">
                        <div class="client-title">
                            <span class="client-name">Adam Stone</span>
                            <span class="client-company">/ CEO at Google INC</span>
                        </div>
                        <p class="client-description">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
                    </div>
                </div>
                <div class="client-carousel-item" id="client2">
                    <img alt="" class="client-img" src="~/img/girlHeadshot.jpg" height="92" width="92" />
                    <div class="client-box">
                        <img alt="" class="image-quote" src="img/image-icons/icon-quote.png">
                        <div class="client-title">
                            <span class="client-name">Anabella Kleva </span>
                            <span class="client-company">/ Managerment at Envato</span>
                        </div>
                        <p class="client-description">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
                    </div>
                </div>
                <div class="client-carousel-item">
                    <img alt="" class="client-img" src="~/img/girlHeadshot.jpg" height="92" width="92" />
                    <div class="client-box">
                        <img alt="" class="image-quote" src="img/image-icons/icon-quote.png">
                        <div class="client-title">
                            <span class="client-name">other girl</span>
                            <span class="client-company">/ CEO at Google INC</span>
                        </div>
                        <p class="client-description">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup. Sed elit quam, iaculis sed semper sit amet udin vitae nibh</p>
                    </div>
                </div>
                <div class="client-carousel-item">
                    <img alt="" class="client-img" src="~/img/GuyHeadshot.jpg" height="92" width="92" />
                    <div class="client-box">
                        <img alt="" class="image-quote" src="img/image-icons/icon-quote.png">
                        <div class="client-title">
                            <span class="client-name">other guy</span>
                            <span class="client-company">/ CEO at Google INC</span>
                        </div>
                        <p class="client-description">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
                    </div>
                </div>
            </div>
            @*<div class="partner-carousel owl-carousel">
                    <div class="partner-carousel-item">
                        <img src="~/img/logos/stitch fix.png" height="50" width="100" />
                    </div>
                    <div class="partner-carousel-item">
                        <img src="~/img/logos/Google.png" height="50" width="100" />
                    </div>
                    <div class="partner-carousel-item">
                        <img src="~/img/logos/FB.png" height="50" width="100" />
                    </div>
                    <div class="partner-carousel-item">
                        <img src="~/img/logos/construction.jpg" height="50" width="100" />
                    </div>
                    <div class="partner-carousel-item">
                        <img src="~/img/logos/amazon.jpg" height="50" width="100" />
                    </div>
                </div>*@
        </div>
    </section>
    <!-- Section News -->

    <section class="section-news section">
        <div class="container">
            <h2 class="section-title">
                Latest News
                <a asp-controller="Home" asp-action="News" class="link-arrow-2 pull-right">
                    All Articles
                    <i class="fa fa-angle-right"></i>
                </a>
            </h2>
            <div class="news-carousel owl-carousel">
                <div class="news-item">
                    <img src="~/img/projects/hospitality/WestQuarter/West quarter-square.jpg" />
                    <div class="news-hover">
                        <div class="hover-border"><div></div></div>
                        <div class="content">
                            <div class="time">Dec 15th, 2016</div>
                            <h3 class="news-title">Discover Architecture Of Bario</h3>
                            <p class="news-description">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Mauris vel auctorol est. Integer nunc ipsum...</p>
                        </div>
                        <a class="read-more" href="#">Continue</a>
                    </div>
                </div>
                <div class="news-item">
                    <img src="~/img/projects/XR3-square.png" />
                    <div class="news-hover">
                        <div class="hover-border"><div></div></div>
                        <div class="content">
                            <div class="time">Dec 15th, 2016</div>
                            <h3 class="news-title">Discover Architecture Of Bario</h3>
                            <p class="news-description">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Mauris vel auctorol est. Integer nunc ipsum...</p>
                        </div>
                        <a class="read-more" href="#">Continue</a>
                    </div>
                </div>
                <div class="news-item">
                    <img src="~/img/projects/XRside-square.png" />
                    <div class="news-hover">
                        <div class="hover-border"><div></div></div>
                        <div class="content">
                            <div class="time">Dec 15th, 2016</div>
                            <h3 class="news-title">Discover Architecture Of Bario</h3>
                            <p class="news-description">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Mauris vel auctorol est. Integer nunc ipsum...</p>
                        </div>
                        <a class="read-more" href="#">Continue</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    midtown = document.getElementById('element');
    midtownDots = document.getElementById('midtown-dots');
    hawaii = document.getElementById('hawaii');
    hawaiiDots = document.getElementById('hawaii-dots');
    projects = document.getElementById('projects-number');
    apartments = document.getElementById('apartments-number');
    //client1 = document.getElementById('client1');
    //client2 = document.getElementById('client2');
    //clientDots = document.getElementById('client-dots');

    document.addEventListener('scroll', () => {
        console.log(window.scrollY)
        midtownTop = Math.min(0, Math.max(scrollY / 3 - 233, -100));
        midtownRight = Math.min(0, Math.max(scrollY / 6 - 117, -50));
        midtown.style.top = `${midtownTop}px`;
        midtown.style.right = `${midtownRight}px`;
        midtown.style.opacity = (midtownTop + 100) / 100;

        midtownDotsBottom = Math.min(-15, Math.max(scrollY / 15 - 62, -35));
        midtownDotsLeft = Math.min(-20, Math.max(scrollY / 15 - 67, -40));
        midtownDots.style.bottom = `${midtownDotsBottom}%`;
        midtownDots.style.left = `${midtownDotsLeft}%`;

        hawaiiTop = Math.min(0, Math.max(scrollY / 3 - 400, -100));
        hawaiiLeft = Math.min(0, Math.max(scrollY / 6 - 200, -50));
        hawaii.style.top = `${hawaiiTop}px`;
        hawaii.style.left = `${hawaiiLeft}px`;
        hawaii.style.opacity = (hawaiiTop + 100) / 100;

        hawaiiDotsBottom = Math.min(-15, Math.max(scrollY / 15 - 95, -35));
        hawaiiDotsLeft = Math.min(15, Math.max(scrollY / -15 + 95, 35));
        hawaiiDots.style.bottom = `${hawaiiDotsBottom}%`;
        hawaiiDots.style.left = `${hawaiiDotsLeft}%`;

        apartmentsNumber = Math.min(300, Math.max(0, scrollY - 400));
        apartments.innerHTML = Math.round(apartmentsNumber)

        projectsNumber = Math.min(21, Math.max(0, (scrollY - 900) / 14));
        projects.innerHTML = Math.round(projectsNumber)

        ////clients section
        //clientDotsBottom = Math.min(-15, Math.max(scrollY / 15 - 62, -35));
        //clientDotsLeft = Math.min(-20, Math.max(scrollY / 15 - 67, -40));
        //clientDots.style.bottom = `${clientDotsBottom}%`;
        //clientDots.style.left = `${clientDotsLeft}%`;

        //client1Top = Math.min(0, Math.max(scrollY / 3 - 233, -100));
        //client1Right = Math.min(0, Math.max(scrollY / 6 - 117, -50));
        //client1.style.top = `${client1Top}px`;
        //client1.style.right = `${client1Right}px`;
        //client1.style.opacity = (client1Top + 100) / 100;

        //client2Top = Math.min(0, Math.max(scrollY / 3 - 233, -100));
        //client2Right = Math.min(0, Math.max(scrollY / 6 - 117, -50));
        //client2.style.top = `${client2Top}px`;
        //client2.style.right = `${client2Right}px`;
        //client2.style.opacity = (client2Top + 100) / 100;
    })
</script>