<div class="content">
    <br />
    <br />
    <br />
    <br />
    <h1 class="project-title">Industrial</h1>
    <div class="projects">
        <br />
        <div class="grid-items js-isotope js-grid-items">
            @*Nantucket*@
            <div class="grid-item building js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/industrial/GetSpace/Nantucket/Nantucket4.1.png" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Nantucket<br>Go Store It</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*XR1*@
            <div class="grid-item interior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/industrial/XR1/XRside-square.png" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">XR 1</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="XR1" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*Johnson Creek GetSpace*@
            <div class="grid-item exterior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/industrial/GetSpace/JohnsonCreek/johnson creek.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Johnson Creek<br>Get Space Storage</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*Portland and Columbia GetSpace*@
            <div class="grid-item exterior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/industrial/GetSpace/PortlandColumbia/Portland and Columbia.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Portland and Columbia<br>Get Space Storage</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*Vancouver GetSpace*@
            <div class="grid-item exterior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/industrial/GetSpace/Vancouver/Vancouver.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Vancouver<br>Get Space Storage</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*Witch Hazel GetSpace*@
            <div class="grid-item exterior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/industrial/GetSpace/WitchHazel/witch hazel.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Witch Hazel<br>Get Space Storage</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
