<div class="content">
    <br />
    <br />
    <br />
    <br />
    <h1 class="project-title">Multi-Family</h1>
    <div class="projects">
        <br />
        <div class="grid-items js-isotope js-grid-items">
            @*Element 31 *@
            <div class="grid-item building js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/multi/Element31/Element 31 MR (40 of 76).jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Element 31<br>Apartments</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="Element31" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*Midtown360*@
            <div class="grid-item villa js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/multi/Midtown360/Midtown.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Midtown 360<br>Apartments</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="Element31" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*Rivulet*@
            <div class="grid-item interior js-isotope-item js-grid-item">
                <div class="project-item">
                    <img id="darken" class="img-responsive" src="~/img/projects/multi/Rivulet/Rivulet.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Rivulet<br>Apartments</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>