<div class="content">
    <br />
    <br />
    <br />
    <div class="container">
        <div class="filter-content-4">
            <ul class="filter js-filter">
                @*fix later*@
                <li class="active"><a href="#" data-filter="*">All</a></li>
                <li><a href="#" data-filter=".inspiration">Inspiration </a></li>
                <li><a href="#" data-filter=".architecture-inteior">Architecture & Inteior</a></li>
                <li><a href="#" data-filter=".decoration">Decoration</a></li>
                <li><a href="#" data-filter=".plants">Plants</a></li>
            </ul>
        </div>
        <div class="js-isotope">
            <div class="inspiration card-row js-isotope-item">
                <div class="card-row-img col-md-7 col-lg-8 hidden-sm hidden-xs" style="background-image: url(~/img/projects/industrial/XR1/Interior 2.jpg)"></div>
                <img class="visible-sm visible-xs img-responsive" src="~/img/projects/industrial/XR1/Interior 2.jpg" />
                <div class="card-block col-md-offset-7 col-lg-offset-8">
                    <div class="card-posted"><a href="#">Admin</a> on Dec 15th, 2016</div>
                    <h4 class="card-title">The Lodge Woonden In London</h4>
                    <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus est sed facilisis viverra. Praesent nec accumsan nibh, eu grav da metus. Curabitur quis sagittis nisl. In lectus ligula, varius quis...</div>
                    <a href="#" class="card-read-more">Continue</a>
                </div>
            </div>
            <div class="architecture-inteior card-row js-isotope-item">
                <div class="card-row-img col-md-7 col-lg-8 hidden-sm hidden-xs" style="background-image: url(~/img/projects/hospitality/WestQuarter/West quarter.jpg)"></div>
                <img class="visible-sm visible-xs img-responsive" src="~/img/projects/hospitality/WestQuarter/West quarter.jpg" />
                <div class="card-block col-md-offset-7 col-lg-offset-8">
                    <div class="card-posted"><a href="#">Admin</a> on Dec 15th, 2016</div>
                    <h4 class="card-title">Rectangle & Square House In Brooklyn</h4>
                    <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus est sed facilisis viverra. Praesent nec accumsan nibh, eu grav da metus. Curabitur quis sagittis nisl. In lectus ligula, varius quis...</div>
                    <a href="#" class="card-read-more">Continue</a>
                </div>
            </div>
            <div class="decoration card-row js-isotope-item">
                <div class="card-row-img col-md-7 col-lg-8 hidden-sm hidden-xs" style="background-image: url(img/projects/XR3-square.png)"></div>
                <img class="visible-sm visible-xs img-responsive" src="~/img/projects/XR3-square.png" />
                <div class="card-block col-md-offset-7 col-lg-offset-8">
                    <div class="card-posted"><a href="#">Admin</a> on Dec 15th, 2016</div>
                    <h4 class="card-title">Interior Design For Apartment</h4>
                    <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus est sed facilisis viverra. Praesent nec accumsan nibh, eu grav da metus. Curabitur quis sagittis nisl. In lectus ligula, varius quis...</div>
                    <a href="#" class="card-read-more">Continue</a>
                </div>
            </div>
            <div class="plants card-row js-isotope-item">
                <div class="card-row-img col-md-7 col-lg-8 hidden-sm hidden-xs" style="background-image: url(img/projects/multi/Element31/Element 31 Clubhouse HR (14 of 31).jpg)"></div>
                <img class="visible-sm visible-xs img-responsive" src="~/img/projects/multi/Element31/Element 31 Clubhouse HR (14 of 31).jpg" />
                <div class="card-block col-md-offset-7 col-lg-offset-8">
                    <div class="card-posted"><a href="#">Admin</a> on Dec 15th, 2016</div>
                    <h4 class="card-title">Small & Minimal House On Paterson Hill</h4>
                    <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus est sed facilisis viverra. Praesent nec accumsan nibh, eu grav da metus. Curabitur quis sagittis nisl. In lectus ligula, varius quis...</div>
                    <a href="#" class="card-read-more">Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>