
<!-- Pageheader -->
<main class="page-header">
    <div class="container"><h1>Our Projects</h1></div>
</main>
<div class="content">
    <div class="projects">
        <div class="container">
            <div class="filter-content-2">
                <ul class="filter js-filter">
                    <li class="active"><a href="#" data-filter="*">All</a></li>
                    <li><a href="#" data-filter=".building">Multi-Family</a></li>
                    <li><a href="#" data-filter=".villa">Industrial</a></li>
                    <li><a href="#" data-filter=".interior">Hospitality</a></li>
                </ul>
            </div>
        </div>
        @*Nantucket*@
        <div class="row">
            <div class="col col-sm">
                <div class="grid-item building js-isotope-item js-grid-item">
                    <div class="project-item item-shadow">
                        <img class="img-responsive" src="~/img/projects/industrial/GetSpace/Nantucket/Nantucket4.1.png" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Nantucket<br>Go Store It</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a asp-controller="ProjectPages" asp-action="WestQuarterET" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            @*Element 31*@
            <div class="col col-sm">
                <div class="grid-item building js-isotope-item js-grid-item">
                    <div class="project-item item-shadow">
                        <img class="img-responsive" src="~/img/projects/multi/Element31/Element4.1.jpg" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Element 31<br>Apartments</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a asp-controller="ProjectPages" asp-action="Element31" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            @*midtown360*@
            <div class="col col-sm">
                <div class="grid-item villa js-isotope-item js-grid-item">
                    <div class="project-item item-shadow">
                        <img class="img-responsive" src="~/img/projects/multi/Midtown360/Midtown4.1.jpg" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Midtown 360<br>Apartments</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a asp-controller="ProjectPages" asp-action="Midtown360" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            @*row 2*@
            @*Koloa Landing*@
            <div class="grid-item villa js-isotope-item js-grid-item">
                <div class="project-item item-shadow">
                    <img class="img-responsive" src="~/img/projects/hospitality/KoloaLanding/Koloa4.1.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">Koloa<br>Landing Resort</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="KoloaLanding" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*West Quarter ET*@
            <div class="grid-item villa js-isotope-item js-grid-item">
                <div class="project-item item-shadow">
                    <img class="img-responsive" src="~/img/projects/hospitality/WestQuarter/West quarter4.1.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">West Quarter<br>Element/Tribute<br />Hotel</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="WestQuarterET" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            @*XR1*@
            <div class="grid-item villa js-isotope-item js-grid-item">
                <div class="project-item item-shadow">
                    <img class="img-responsive" src="~/img/projects/industrial/XR1/XR4.0.jpg" />
                    <div class="project-hover">
                        <div class="project-hover-content">
                            <h3 class="project-title">XR<br>International</h3>
                            <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                        </div>
                    </div>
                    <a asp-controller="ProjectPages" asp-action="XR1" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
     </div>       
</div>
<!--<div class="content">
    <div class="projects">
        <div class="container">
            <div class="filter-content-2">
                <ul class="filter js-filter">
                    <li class="active"><a href="#" data-filter="*">All</a></li>
                    <li><a href="#" data-filter=".multi">Multi-Family</a></li>
                    <li><a href="#" data-filter=".industrial">Industrial</a></li>
                    <li><a href="#" data-filter=".hospitality">Hospitality</a></li>
                </ul>
            </div>-->
            @*Industrial filter*@
            <!--<div class="grid-items js-isotope js-grid-items">
                <div class="grid-item js-isotope-item js-grid-item">
                    <div class="project-item item-shadow industrial">
                        <img alt="" class="img-responsive" src="~/img/projects/industrial/johnson creek2.0.jpg" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Triangle<br>Concrete House<br>On Lake</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="grid-item js-isotope-item js-grid-item">
                    <div class="project-item item-shadow industrial">
                        <img alt="" class="img-responsive" src="~/img/projects/industrial/Portland and Columbia2.0.jpg" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Ocean<br>Museum<br>Italy</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="grid-item js-isotope-item js-grid-item">
                    <div class="project-item item-shadow industrial">
                        <img alt="" class="img-responsive" src="~/img/projects/industrial/Vancouver2.0.jpg" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Milko<br>Co-Working<br>Building</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="grid-item js-isotope-item js-grid-item">
                    <div class="project-item item-shadow industrial">
                        <img alt="" class="img-responsive" src="~/img/projects/industrial/witch hazel2.0.jpg" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Redesign<br>Interior For<br>Villa</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="grid-item js-isotope-item js-grid-item">
                    <div class="project-item item-shadow industrial">
                        <img alt="" class="img-responsive" src="~/img/projects/industrial/XR2.0.png" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Wooden<br>Hozirontal<br>Villa</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>-->
                @*Multi-Family filter*@
                <!--<div class="grid-item js-isotope-item js-grid-item">
                    <div class="project-item item-shadow multi ">
                        <img alt="" class="img-responsive" src="~/img/projects/multi/Element2.0.jpg" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Small<br>House Near<br>Wroclaw</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="grid-item js-isotope-item js-grid-item">
                    <div class="project-item item-shadow multi">
                        <img alt="" class="img-responsive" src="~/img/projects/multi/Midtown2.0.jpg" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Bellecomde<br>Holiday<br>Residence</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="grid-item js-isotope-item js-grid-item">
                    <div class="project-item item-shadow multi">
                        <img alt="" class="img-responsive" src="~/img/projects/multi/Rivulet2.0.jpg" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Cubic<br>Inter Mesuem<br>In Rome</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="grid-item js-isotope-item js-grid-item">
                    <div class="project-item item-shadow multi">
                        <img alt="" class="img-responsive" src="~/img/projects/multi/WQA2.0.jpg" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Cubic<br>Inter Mesuem<br>In Rome</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>-->
                @*Hospitality filter*@
                <!--<div class="grid-item hospitality js-isotope-item js-grid-item">
                    <div class="project-item item-shadow hospitality">
                        <img alt="" class="img-responsive" src="~/img/projects/hospitality/Koloa2.0.jpg" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Cubic<br>Inter Mesuem<br>In Rome</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="grid-item hospitality js-isotope-item js-grid-item">
                    <div class="project-item item-shadow hospitality">
                        <img alt="" class="img-responsive" src="~/img/projects/hospitality/Midtown2.0.jpg" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Cubic<br>Inter Mesuem<br>In Rome</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="grid-item hospitality js-isotope-item js-grid-item">
                    <div class="project-item item-shadow hospitality">
                        <img alt="" class="img-responsive" src="~/img/projects/hospitality/West quarter2.0.jpg" />
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h3 class="project-title">Cubic<br>Inter Mesuem<br>In Rome</h3>
                                <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
                            </div>
                        </div>
                        <a href="" class="link-arrow">See project <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->