<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-info">
                    <div class="title-hr"></div>
                    <div class="info-title">Meet Our Team</div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row-team row">
                    <div class="col-team col-xs-6 col-md-4">
                        <div class="team-profile">
                            <img src="~/img/team/corey.png" />
                            <div class="team-hover">
                                <div class="team-content">
                                    <div class="team-name">
                                        <h6>Corey Berg</h6>
                                        <div class="team-spec">CEO Founder</div>
                                    </div>
                                    <div class="team-social">
                                        <a href="" class="icon ion-social-twitter"></a>
                                        <a href="" class="icon ion-social-facebook"></a>
                                        <a href="" class="icon ion-social-linkedin"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-team col-xs-6 col-md-4">
                        <div class="team-profile">
                            <img src="~/img/team/Jayson.png" />
                            <div class="team-hover">
                                <div class="team-content">
                                    <div class="team-name">
                                        <h6>Jason Newitt</h6>
                                        <div class="team-spec">CEO Founder</div>
                                    </div>
                                    <div class="team-social">
                                        <a href="" class="icon ion-social-twitter"></a>
                                        <a href="" class="icon ion-social-facebook"></a>
                                        <a href="" class="icon ion-social-linkedin"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-team col-xs-6 col-md-4">
                        <div class="team-profile">
                            <img src="~/img/team/paul.png" />
                            <div class="team-hover">
                                <div class="team-content">
                                    <div class="team-name">
                                        <h6>Paul Ritchie</h6>
                                        <div class="team-spec">CEO Founder</div>
                                    </div>
                                    <div class="team-social">
                                        <a href="" class="icon ion-social-twitter"></a>
                                        <a href="" class="icon ion-social-facebook"></a>
                                        <a href="" class="icon ion-social-linkedin"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-team col-xs-6 col-md-4">
                        <div class="team-profile">
                            <img src="~/img/team/rob.png" />
                            <div class="team-hover">
                                <div class="team-content">
                                    <div class="team-name">
                                        <h6>Rob Heywood</h6>
                                        <div class="team-spec">CEO Founder</div>
                                    </div>
                                    <div class="team-social">
                                        <a href="" class="icon ion-social-twitter"></a>
                                        <a href="" class="icon ion-social-facebook"></a>
                                        <a href="" class="icon ion-social-linkedin"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-team col-xs-6 col-md-4">
                        <div class="team-profile">
                            <img src="~/img/team/ryan.png" />
                            <div class="team-hover">
                                <div class="team-content">
                                    <div class="team-name">
                                        <h6>Ryan Ritchie</h6>
                                        <div class="team-spec">CEO Founder</div>
                                    </div>
                                    <div class="team-social">
                                        <a href="" class="icon ion-social-twitter"></a>
                                        <a href="" class="icon ion-social-facebook"></a>
                                        <a href="" class="icon ion-social-linkedin"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-team col-xs-6 col-md-4">
                        <div class="team-profile">
                            <img src="~/img/team/ryan.png" />
                            <div class="team-hover">
                                <div class="team-content">
                                    <div class="team-name">
                                        <h6>Ryan Ritchie2.0</h6>
                                        <div class="team-spec">CEO Founder</div>
                                    </div>
                                    <div class="team-social">
                                        <a href="" class="icon ion-social-twitter"></a>
                                        <a href="" class="icon ion-social-facebook"></a>
                                        <a href="" class="icon ion-social-linkedin"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>